.icon {
  position: absolute;
  right: 2rem;
  top: 35%;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0;
}

.icon_img {
  width: 2rem;
}