.header {
  padding: 0 1rem;
  width: 100%;
  height: 6rem;
  background: var(--dark-linear-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.link {
  text-decoration: none;
  color: var(--dark-white-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}